name: Test R-universe

on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  build:
    name: R-universe testing
    uses: r-universe-org/workflows/.github/workflows/build.yml@v3
    with:
      universe: ${{ github.repository_owner }}
